body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header, footer {
    background-color: #1F2937;

}

#main {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8
}

.hlink, .container .info div, header p{
    font-size: 18px;
    color: #E5E7EB;
}

#logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}


#body2 {
    background-color: #E5E7EB;
}

#body2 p {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

#body1 h1 {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

#containerhead {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#containerinhead {
    display: flex;
    margin-left: auto;
    gap: 20px;
}

#head {
    margin: 0px 200px;
}

#containerinhead1 {
    display: flex;
    padding: 30px 0px;
    
}

img[alt="Artificial Intelligence"] {
    margin: auto;
    height: 250px;
    width: 500px;
    
}

#containerinhead1 div {
    width: 450px;
}

#containerinhead1 div button {
    width: 100px;
    background-color: #3882F6;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    color: #F9FAF8;
    font-weight: bold;
}